
<div class="columns">
  <div class="column">

    <%= form_for(@member, local: true) do |f| %>
      <% if member.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

          <ul>
          <% member.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
    <% end %>

  <div class="field">
    <label class="label">Name</label>
    <%= f.text_field :name, class:"input" %>
  </div>

  <div class="field">
    <label class="label">Last Name</label>
    <%= f.text_field :surname, class:"input" %>
  </div>

  <div class="field">
    <label class="label">Alias</label>
    <%= f.text_field :alias, class:"input" %>
  </div>

  <div class="field">
    <label class="label">Country</label>
    <%= f.text_field :country, class:"input" %>
  </div>

  <div class="field">
    <label class="label">City</label>
    <%= f.text_field :city, class:"input" %>
  </div>

  <div class="field">
    <label class="label">Community</label>
    <%= f.text_field :community, class: "input" %>
  </div>

  <div class="field">
    <label class="label">Community Type</label>
    <span class="select">
    <%= f.select :community_type, ["town","district","university","youth for peace"], class: "select" %>
    </span>
  </div>

  <!-- Gender -->
  <div class="field">
    <label class="label">Gender</label>
    <span class="select">
    <%= f.select :gender, ["M","F"] %>
    </span>
  </div>
  <!-- Date of birth -->
  <div class="field ">
    <label class="label">Date of birth</label>
    <p class="control">
    <span class="select">
    <%= f.date_select :date_of_birth, {order:[:day,:month,:year], start_year: 1975} %>
    </span>
    <p/>
  </div>
  <!-- Place of birth -->
  <div class="field">
    <label class="label">Country of birth</label>
    <%= f.text_field :country_of_birth, class:"input" %>
  </div>
</div> <!-- end of column -->

  <div class="column">
  <div class="field">
    <label class="label">Phone</label>
    <%= f.text_field :phone, class:"input" %>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <%= f.email_field :email, class:"input" %>
  </div>

  <div class="field">
    <label class="label">Do you study?</label>
    <span class="select">
        <%= f.select :studies, ["Yes","No"]  %>
    </span>
  </div>

  <div class="field">
    <label class="label">Type of Study</label>
    <span class="select">
    <%= f.select :study_type, ["primary school","secondary school","university"] %>
    <span/>
  </div>

  <div class="field">
    <label class="label">Do you work?</label>
    <span class="select">
    <%= f.select :work,  ["Yes","No"] %>
  </span>
  </div>

  <div class="field">
    <label class="label">When did you join the community?</label>
    <span class="select">
    <%= f.date_select :entry,start_year: 2000, :discard_day => true, :discard_month => true %>
    </span>
  </div>

  <div class="field">
    <label class="label">What is your service?</label>
    <span class="select">
    <%= f.select :service, ["School of Peace","Elderly","Prison","Disabled"] %>
    </span>
  </div>

  <div class="field">
    <label class="label">What is your religion/denomination?</label>
    <span class="select">
    <%= f.select :religion,["Catholic","Baptist","Anglican","Presbiterian","Pentecostal","Jehovah Witness","Muslim","Other"] %>
    </span>
  </div>

  <div class="field">
    <label class="label">Are you a catechumen?</label>
    <span class="select">
    <%= f.select :catechumen, ["No","Yes"] %>
    </span>
  </div>

  <div class="field">
    <label class="label">Are you baptised ?</label>
    <span class="select">
    <%= f.select :baptised, ["Yes","No"] %>
    </span>
  </div>

  <div class="field">
    <label class="label">Do you have a bible?</label>
    <span class="select">
    <%= f.select :bible, ["Yes", "No"] %>
    </span>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Create a member", class: "button is-primary" %>
  </div>

<% end %>
    </div> <!-- end of column -->
</div>
