
<div class="row">
  <div class="col-md-6">


<%= bootstrap_form_for(@member, local: true) do |f| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">

    <%= f.text_field :country %>
  </div>

  <div class="field">

    <%= f.text_field :city %>
  </div>

  <div class="field">

    <%= f.text_field :community %>
  </div>

  <div class="field">

    <%= f.select :community_type, ["town","district","university","youth for peace"] %>
  </div>

  <div class="field">

    <%= f.text_field :name %>
  </div>

  <div class="field">

    <%= f.text_field :surname %>
  </div>

  <div class="field">

    <%= f.text_field :alias %>
  </div>

  <div class="field">

    <%= f.select :gender, ["M","F"] %>
  </div>

  <div class="field">

    <%= f.date_select :date_of_birth, {order:[:day,:month,:year], start_year: 1995} %>
  </div>

  <div class="field">

    <%= f.text_field :country_of_birth %>
  </div>
  </div>
  <div class="col-md-6">


  <div class="field">

    <%= f.text_field :phone %>
  </div>

  <div class="field">

    <%= f.email_field :email %>
  </div>

  <div class="field">

    <%= f.select :studies, ["Yes","No"], label: "Do you study?"  %>
  </div>

  <div class="field">

    <%= f.select :study_type, ["primary school","secondary school","university"] %>
  </div>

  <div class="field">

    <%= f.select :work, ["Yes","No"] %>
  </div>

  <div class="field">

    <%= f.date_select :entry,start_year: 2000, :discard_day => true, :discard_month => true %>
  </div>

  <div class="field">

    <%= f.select :service, ["School of Peace","Elderly","Prison","Disabled"] %>
  </div>

  <div class="field">

    <%= f.select :religion,["Catholic","Baptist","Anglican","Presbiterian","Pentecostal","Jehovah Witness","Muslim","Other"], label: "Religion/Denomination" %>
  </div>

  <div class="field">

    <%= f.select :catechumen, ["Yes","No"] %>
  </div>

  <div class="field">

    <%= f.select :baptised, ["Yes","No"] %>
  </div>

  <div class="field">

    <%= f.select :bible, ["Yes", "No"] %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Create a member", class: "btn btn-primary" %>
  </div>

<% end %>
    </div>
</div>
