<div class="text-center card">
<div class="card-block">



<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @member.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<p>
  <strong>Community:</strong>
  <%= @member.community %>
</p>

<p>
  <strong>Community type:</strong>
  <%= @member.community_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @member.surname %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @member.alias %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @member.date_of_birth %>
</p>

<p>
  <strong>Country of birth:</strong>
  <%= @member.country_of_birth %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Studies:</strong>
  <%= @member.studies %>
</p>

<p>
  <strong>Study type:</strong>
  <%= @member.study_type %>
</p>

<p>
  <strong>Work:</strong>
  <%= @member.work %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @member.entry %>
</p>

<p>
  <strong>Service:</strong>
  <%= @member.service %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @member.religion %>
</p>

<p>
  <strong>Catechumen:</strong>
  <%= @member.catechumen %>
</p>

<p>
  <strong>Baptised:</strong>
  <%= @member.baptised %>
</p>

<p>
  <strong>Bible:</strong>
  <%= @member.bible %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
  </div>
</div>
